odd/Hildessen (1).odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>antidote</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2026-05-26Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="antidote" source="teipublisher.odd"> <elementSpec ident="title" mode="change">
                    <model predicate="ancestor::body" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            text-decoration:underline;
text-decoration-thickness:5%;
text-underline-offset:3px
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="hi rend" mode="add"/>
                <elementSpec ident="unclear" mode="change">
                    <model behaviour="alternate">
            <param name="alternate" value="@type"/>
            <param name="default" value="."/>
        </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model behaviour="alternate">
            <param name="alternate" value="@source"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            font-style: Italic;
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="supplied" mode="change">
                    <model behaviour="alternate">
            <param name="alternate" value="@desc"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            color:lightgrey
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="body" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style:oswald
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="sic" mode="change">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@descr"/>
            <outputRendition xml:space="preserve">
            color:red
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="titleStmt" mode="change">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="title[not(@type)]"/>
                <outputRendition xml:space="preserve">
                
                font-size: 34px;
text-align: center;
color:darkred;
                
                </outputRendition>
            </model>
            <model behaviour="heading">
                <param name="content" value="author[not(@type)]"/>
                <outputRendition xml:space="preserve">
                
                font-size: 24px;
text-align: center;
color: grey;
                
                </outputRendition>
            </model>
        </modelSequence>
                    <model behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <outputRendition xml:space="preserve">
            
            font-size: 34px;
text-align: center;
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <modelSequence>
            <model predicate="@rend=&#34;bold&#34;" behaviour="inline">
                <outputRendition xml:space="preserve">
                font-weight:bold
                </outputRendition>
            </model>
            <model behaviour="break">
                <param name="type" value="'line'"/>
                <param name="label" value="@n"/>
            </model>
            <model predicate="rend=&#34;bold&#34;" behaviour="inline">
                <outputRendition xml:space="preserve">
                font-weight:bold
                </outputRendition>
            </model>
            <model behaviour="inline">
                <param name="content" value="@n"/>
                <outputRendition xml:space="preserve">
                color: green;
font-size: 14px
                </outputRendition>
            </model>
        </modelSequence>
                    <model behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model behaviour="break" useSourceRendition="true">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 2pt; color: lightgrey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: '[fol.';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: ']';
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="msIdentifier" mode="change"/>
            <elementSpec ident="msDesc" mode="add"/>
                <elementSpec ident="sourceDesc" mode="change"/>
                <!-- testing expansion visualising -->
    <elementSpec ident="ex" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            background-color: transparent;
            </outputRendition>
            <outputRendition xml:space="preserve">
            color: green;
            </outputRendition>
        </model>
                </elementSpec>
    <!-- /testing expansion visualising -->
            <elementSpec ident="location" mode="add">
    </elementSpec>
            </schemaSpec>
            <!-- Underline text with @rendition="underline" -->
                <elementSpec ident="hi" mode="change">
                <model predicate="@rend=&#34;underline&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            text-decoration:underline;
text-decoration-thickness:3%;
text-decoration-color:grey;
text-underline-offset:3px
            
            
            
            
            
            
            
            </outputRendition>
        </model>
            </elementSpec>
        </body>
    </text>
</TEI>